services:
  servidor-web:
    image: nginx:latest
    container_name: servidor-nginx
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./gzip.conf:/etc/nginx/conf.d/gzip.conf
      - ./.htpasswd:/etc/nginx/.htpasswd
      - ./nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt
      - ./nginx-selfsigned.key:/etc/ssl/private/nginx-selfsigned.key
    networks:
      - web-net

  servidor-sftp:
    image: atmoz/sftp
    container_name: servidor-sftp
    ports:
      - "2222:22"
    command: yiisus123:toor:101:101:upload
    volumes:
      - ./html:/home/yiisus123/upload
    networks:
      - web-net

networks:
  web-net: